*{box-sizing: border-box;}
body{
    margin: 0;
    font-family: 'Oswald',sans-serif;
    background-color: #fff;
}

.cabecalho{
    background-image: url(imagens/Background-Estrelas-1.jpg);
    background-repeat: inherit;
    border-bottom: solid 8px #8a769b;
    height: 95px;
    box-sizing: content-box;
    
}

.logo{
    display: inline-block;
    height: 10px;
    padding: 15px;
}

.logo img{
    height: 95px;
}


.menu{
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}

.menu ul{
    margin:0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.cabecalho a{
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
}
.menu a{
    padding: 15px;
}


.menu a:hover, .menu .selected{
    background-color: #8a769b;
    color:black;
}

