/*#paragrafo1 {color: lightcoral;}
#teste1{background-color: burlywood; font-size: 60px}
#teste2{background-color:cornflowerblue;}
#paragrafo2 {color: lightseagreen;}

.estilo{
    background-color: green;
    font-size: 50px;
}*/

h1 {color:crimson}

.ladoDireito {
    background-color: cornflowerblue;
    text-align: right;
    /*width: 50px;*/
}

.ladoDireito ul {
    list-style: none;
}

.ladoEsquerdo {
    background-color: green;
    text-align: left;

}

.ladoEsquerdo h2 {
    background-color: burlywood;
}

.listaEsquerda {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

ul li a{
    display: block;
    text-decoration: none;
    color: darkblue;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

li:hover ul{
    display: block;
}